
@model IEnumerable<Domain.Entities.BookLanguage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LanguageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.LanguageId)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.LanguageCode)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.LanguageName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Books)
            </th>
            <td>
                <a asp-action="Edit" asp-route-LanguageId="@item.LanguageId">Edit</a> |
                <a asp-action="Details" asp-route-LanguageId="@item.LanguageId">Details</a> |
                <a asp-action="Delete" asp-route-LanguageId="@item.LanguageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
