
@model IEnumerable<Domain.Entities.ExpenseSubtype>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValuetypeLkpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValuetypeLkp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Id)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Value)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.ValuetypeLkpId)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.MaximumValue)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.MinimumValue)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.GlAccount)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.ExpenseId)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.EditDate)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.EditedBy)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Expense)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.ValuetypeLkp)
            </th>
            <td>
                <a asp-action="Edit" asp-route-Id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-Id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-Id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
