@model IEnumerable<Domain.Entities.Sample>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Id1)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Id2)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Id3)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Description)
            </th>
            <td>
                <a asp-action="Edit" asp-route-Id1="@item.Id1" asp-route-Id2="@item.Id2" asp-route-Id3="@item.Id3">Edit</a> |
                <a asp-action="Details" asp-route-Id1="@item.Id1" asp-route-Id2="@item.Id2" asp-route-Id3="@item.Id3">Details</a> |
                <a asp-action="Delete" asp-route-Id1="@item.Id1" asp-route-Id2="@item.Id2" asp-route-Id3="@item.Id3">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
